<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ostak.justplaystudent">
    <!--默认的此清单为集成化使用,即多个app合成;-->
    <application>
        <!--集成化得入口;-->
        <activity android:name=".ui.act.LogActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.act.MainStuActivity"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".ui.act.TestAct"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".ui.act.LogThirdActivity" />
        <activity android:name=".ui.act.ForgetPsdAct" />
        <activity android:name=".ui.act.RegisterAct" />
        <activity android:name=".ui.act.Register2Act" />
    </application>

</manifest>